= simple_form_for @experience_sharing , :html => { :class => 'form-inline' } do |f|
  = f.error_notification
  .inputs
    = f.input :ES_date
    = f.input :ES_Subject
    = f.input :ES_context, as: :text,
	input_html: {class: "span7"}
    = f.hidden_field :user_id, :value => current_user.id
  .actions
    = f.submit 'Save'
