%p#notice= notice

%li
  %b Es date:
  = @experience_sharing.ES_date
%li
  %b Es Subject:
  = @experience_sharing.ES_Subject
= link_to 'Edit', edit_experience_sharing_path(@experience_sharing)
\|
= link_to 'Back', experience_sharings_path
